<div id="<%= dom_id family %>">
  <p>
    <strong>First name:</strong>
    <%= family.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= family.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= family.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= family.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= family.twitter %>
  </p>
  <p>
    <strong>User Id:</strong>
    <%= family.user_id %>
  </p>

</div>
